@using E_ComerceSystem.ModelView

@model  ApplicationUserModelView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OurLayOut.cshtml";

}

<h2 class="text-capitalize text-center my-3"> welecom to your profile @Model.Email </h2>

<div class="row py-5 px-4">
    <div class="col-md-5 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">

                    <div class="media-body mb-5 text-black">
                        <h4 class="mt-0 mb-0">@Model.Email</h4>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@Model.UserName</p>
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>@Model.PhoneNumber</p>
                    </div>
                    <div class="profile mr-3">
                        <a href="@Url.Action("Edit","Customer" ,new { Id=Model.Id })" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="@Url.Action("orders","Customer")" class="btn btn-link text-primary">Recent orders</a>
                </div>


            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
