
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-4 px-lg-5">

        <a class="navbar-brand" href="@Url.Action("index","Home")"> E commerce </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="@Url.Action("index","Home")">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home")"> About </a></li>
                <li class="nav-item"><a class="nav-link" href="@Url.Action("ContactUs","Home")"> Contact Us </a></li>
                <!-- drop Down -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @if (ViewBag.category != null)
                        {
                            foreach (var item in ViewBag.category)
                            {
                                <li><a class="dropdown-item" href="@Url.Action("GetCategory", "Home", new { Id = item.ID })">@item.Type</a></li>
                            }
                        }
                    </ul>
                    <!-- drop Down -->

            </ul>
        </div>
    </div>
</nav>