@model IEnumerable<E_ComerceSystem.ModelView.ProductModelView>
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_OurLayOut.cshtml";
}

<h2 class="text-capitalize text-center my-3" >   @ViewBag.CategoryName products </h2>


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model)
            {
                <div class="col mb-3">
                    <div class="card ">
                        <img class="card-img-top" src="~/Content/Images/@item.Image" alt="..." height="320px" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">@item.Name</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center"> @item.price $ </li>
                                <li class="list-group-item text-center"> @item.ProviderName </li>
                                <li class="list-group-item text-center">  @item.CategoryType </li>
                            </ul>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("Details","Home", new { id = item.ID})"> More Details </a></div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>

</section>
